*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f8ff;
    text-align: center;
    margin-top: 5vh;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

div{
    background-color: #dcdcdc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 40%;
    margin-top: 1vh;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

a{
    margin: 1rem;
    background-color: #6d6d6d;
    color: #dcdcdc;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    text-decoration: none;
    border-radius: 5px;
}

a:hover{
    background-color: #8d8d8d;
    transition: 0.5s;
}

hr{
    background-color: #202020;
    width: 100%;
}